flask 
flask_cors 
openai>=1.91.0
better-profanity
python-dotenv
gunicorn
https://github.com/explosion/spacy-models/releases/download/en_core_web_lg-3.8.0/en_core_web_lg-3.8.0-py3-none-any.whl
presidio_anonymizer
presidio_analyzer