.success-body {
  display: flex;
  font-family: 'BCSans','Noto Sans','Verdana','Arial',sans-serif;
  flex-wrap: wrap;
}
.title-row {
  display: flex;
  flex: 1 1 100%;
  justify-content: flex-start;
}
.success-content {
  display: flex;
  padding-left: 20px;
  flex-wrap: wrap;
  flex-direction: column;
}
.success-content-intro {
  font-size: 24px;
  font-weight: 600;
  padding-bottom: 20px;
}
.success-content-body {
  padding-left: 20px;
}