//style.scss

@charset "UTF-8";

// $white: #fff;
// $grey: #6c757d;
// $gray-100: #f8f9fa;
// $gray-200: #e9ecef;
// $gray-300: #dee2e6;
// $gray-400: #ced4da;
// $gray-500: #adb5bd;
// $gray-600: #868e96;
// $gray-700: #495057;
// $gray-800: #373a3c;
// $gray-900: #212529;
// $black: #000;

$blue: #003366;
// $indigo: #6610f2;
// $purple: #613d7c;
// $pink: #e83e8c;
$red: #d8292f;
// $orange: #f2661f;
$yellow: #fcba19;
$green: #2e8540;
// $teal: #20c997;
// $cyan: #9954bb;
$lightblue: #4d61fc;

$primary: $blue;
// $secondary: $grey;
$success: $green;
$info: #96c0e6;
// $warning: $yellow;
$danger: $red;
// $light: $gray-100;
// $dark: $gray-800;

$textColor: #313132;
$linkColor: #1a5a96;
$whileBackgroundColor: #f2f2f2;
$blueBackgroundColor: #38598a;
$componentColor: #606060;

$bcgov-font-path: "/";
@import "~@bcgov/bootstrap-theme/dist/scss/bootstrap-theme";

.container,
.container-sm,
.container-md,
.container-lg,
.container-xl {
  max-width: 100vw;
}
.container {
  margin-top: 3px;
  padding-left: 0;
  padding-right: 0;
  //height: 100vh;
  height: 100%;
}
.overflow-x-auto{
  overflow-x: auto;
  overflow-y: hidden;
}

.overflow-y-auto{
  overflow-y: auto;
  overflow-x: hidden;
}
.text-primary{
  color: $primary;
}
.footer-text{
  font-size: 18px;
}
// .btn-primary{
//   background-color: $primary;
//   }
.btn-outline-primary:not(:disabled){
  border-color: #0071EB;
  color: #0071EB;
  &:hover{
    color: #ffffff;
    background-color: $primary;
  }
}
.task-container{
  height: 100% !important;
}
.logo {
  height: 1.9em;
}
h4 {
  font-size: 1.2rem;
}
#main {
  /* margin-top: 2px;*/
  min-height: 85vh;
  //max-height: 85vh;
  padding-bottom: 1.5rem;
  overflow-y: auto;
  overflow-x: hidden;
}
body {
  font-size: 16px;
  font-family: Nunito Sans, SemiBold;
}
.loader-container{
  display: flex;
  height: 80vh;
  justify-content: center;
  align-items: center;
}
.loader {
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.input-group {
  .input-group-addon {
    position: absolute;
    right: 5px;
    top: 7px;
  }
  .radio-inline {
    margin-left: 20px;

    label {
      margin-right: 2rem;
    }
  }
}
.well {
  border: 1px solid #eeeeee;
  padding: 1rem;
  background-color: #f8f8f8bf;
}
.formio-component-panel {
  border: 1px solid #eeeeee;

  .panel-heading {
    background-color: #eeeeee;
    padding: 10px 0 10px 10px;

    .panel-title i {
      font-size: 12px;
    }
  }
  .panel-body {
    padding: 1.5rem 2rem 1.5rem 2rem;
  }
}
.page-item.active .page-link {
  background-color: #036 !important;
  border-color: #56595d !important;
}
h5,
.h5 {
  font-size: 16px !important;
}
.bg-default {
  background-color: $blueBackgroundColor;
  border: $blueBackgroundColor;
  color: white !important;
}
.text-muted {
  color: #6c757d !important;
}

i.fa.fa-question-circle.text-muted {
  color: #2e96ff !important;
}

i.fa.fa-plus-square-o.text-muted, i.fa.fa-minus-square-o.text-muted {
  color: #ffffff !important;
}

.panel-heading {
  background-color: #38598a;
  border: #38598a;
  color: white !important;
  padding: 0.75rem 1.25rem;
  margin-bottom: 8px;
}
.form-view-wrapper{
  min-height: 75vh;
}
.btn.signature-pad-refresh{
  z-index: 99 !important;
}


.formio-error-wrapper,
.has-error {
  color: $red;
  background-color: #fff;
  border-color: $red;

  label {
    color: $red;
  }
}
.formio-errors .error {
  color: $red;
}
.formio-wizard-nav-container 
{
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  margin: 0;
}
.btn-wizard-nav-submit,
.btn-wizard-nav-next,
.btn-wizard-nav-previous {
    width: 180px; 
}
.is-invalid {
  background-color: #ffd1d1;
}
.nav-dropdown {
  .dropdown-menu {
    width: 15rem;
    height: 14rem;
    padding: 15px 20px 0 20px;
    right: 0;
    top: 2rem;
    left: auto;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  }
  .dropdown-toggle {
    color: white !important;
    a {
      text-decoration: none;
    }
  }
  .userIcon {
    padding: 0 0 0 0;
    font-size: 2rem;
    float: right;
    color: #1264b6e0;
  }
}
.nav-dropdown :hover {
  text-decoration: none !important;
}
.nav-custom-tab {
  padding-left: 60px !important;
}
.main-nav {
  text-decoration: none !important;
  color: $white !important;
  font-size: 20px !important;
}
.nav-user-role {
  color: #003366;
  font-size: 15px;
  font-weight: bold;
  padding: 0 0;
}
.nav-user-email {
  font-size: 14px;
  padding: 0 0;
  color: #373a3c;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.nav-user-name {
  font-size: 20px;
  padding: 0 0;
  font-weight: 600;
  color: #373a3c;
}
.nav-logout {
  cursor: pointer;
  padding: 0 0;
  font-size: 16px;
}
.nav-tabs .nav-link.active {
  color: #4d4d4d;
  background-color: #f5f5f5;
  border-color: #f5f5f5 !important;
}
.nav-link {
  a {
    color: white;
  }
}
.active {
  background-color: transparent;
}
.active-tab {
  //color: $lightblue !important;
  //border-bottom: 1px solid red;
  background-color: transparent;
  filter: invert(80%) sepia(81%) saturate(4581%) hue-rotate(345deg)
    brightness(95%) contrast(101%);
}
.inactive-tab {
  filter: brightness(0) invert(1);
}

.active-tab-dropdown {
  // color: #fcba19 !important;
  //border-bottom: 1px solid red;
  background-color: transparent;
  filter: invert(80%) sepia(81%) saturate(4581%) hue-rotate(345deg)
    brightness(95%) contrast(101%);
}
.inactive-tab-dropdown > #dashboard-dropdown {
  //color: $lightblue !important;
  //border-bottom: 1px solid red;
  background-color: transparent;
  filter: brightness(0) invert(1);
}
.active-tab-dropdown > #task-dropdown {
  //color: $lightblue !important;
  //border-bottom: 1px solid red;
  background-color: transparent;
  filter: invert(80%) sepia(81%) saturate(4581%) hue-rotate(345deg)
    brightness(95%) contrast(101%);
}
.dropdown-item:hover {
  filter: none;
  background-color: #e9ecef;
}
#task-dropdown::after {
  color: #fcba19;
}
#dashboard-dropdown::after {
  color: #fcba19;
}
.dashboard-dropdown-options {
  padding-right: 5px;
  margin-left: -5px;
}
.dropdown-option-selected {
  background-color: #e9ecef !important;
  color: #212529 !important;
}
.inactive-tab:hover {
  color: #fcba19;
  cursor: pointer;
}
#username:hover {
  color: #fcba19;
  cursor: pointer;
}
.selected-tag {
  color: $lightblue !important;
  border-bottom: 1px solid $lightblue;
  background-color: transparent;
}
.lbl-logout {
  font-size: 16px;
  color: #373a3c;
  margin-left: 10px;
  cursor: pointer;
}
// .dropdown-menu {
//   height: 17em;
//   overflow-y: scroll;
// }
.dropdown-menu:before {
  position: absolute;
  top: -7px;
  right: 9px;
  display: inline-block;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #ccc;
  border-left: 7px solid transparent;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  content: "";
}

.dropdown-menu:after {
  position: absolute;
  top: -6px;
  right: 10px;
  display: inline-block;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #ffffff;
  border-left: 6px solid transparent;
  content: "";
}
.taskDropdown {
  .dropdown-menu::before {
    left: 10%;
    right: 100%;
  }
  .dashboard-icon-dropdown {
    margin-bottom: 5px;
  }
  .task-dropdown-icon {
    margin-bottom: 1px;
    color: white;
  }
  .applications-icon-header{
    width: 23px;
    height: 23px;
    margin-bottom: 5px;
  }
  .dropdown-menu::after {
    left: 10%;
    right: 100%;
  }
}
.custom-profile {
  position: absolute;
  margin-left: 220px;
  padding-bottom: 10px;
  z-index: 10;
}
.d-md-none {
  .dropup,
  .dropright,
  .dropdown,
  .dropleft {
    position: initial;
  }
  .nav-dropdown .dropdown-menu {
    position: absolute;
  }
  .dropdown-menu:before {
    position: absolute;
    top: -6px;
    right: 4px;
    display: inline-block;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #ccc;
    border-left: 7px solid transparent;
    border-bottom-color: rgba(0, 0, 0, 0.2);
    content: "";
  }

  .dropdown-menu:after {
    position: absolute;
    top: -5px;
    right: 5px;
    display: inline-block;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #ffffff;
    border-left: 6px solid transparent;
    content: "";
  }
}
.lbl-app-nanme {
  font-size: 20px;
  color: #ffff;
  margin-bottom: 0;
  font-weight: bold;
  margin-left: 20px;
}
.app-name {
  color: $yellow;
  margin: 0;
}
.nav-icons {
  vertical-align: text-top;
  margin-right: 3px;
}
.nav-dropdown .dropdown-menu {
  height: auto !important;
}
.table-bordered thead th,
.table-bordered thead td {
  background-color: $whileBackgroundColor !important;
}
.formio-component-datagrid .datagrid-table>tbody>tr>td:last-child,
.formio-component-datagrid .datagrid-table>thead>tr>th:last-child {
  padding: 0px;
  width: 0px;
}
.formio-component-datagrid .datagrid-table,
.formio-component-datagrid .datagrid-table>tfoot>tr>td {
  border: none;
}
.formio-component-datagrid .datagrid-table>tfoot>tr>td {
  border: none;
  text-align: right;
}
.formio-component-datagrid .datagrid-table>thead {
  display: none;
}
/*.formio-component-datagrid .datagrid-table>tfoot>tr>td>button.formio-button-add-row {
  background: white;
  color: $linkColor;
}*/
.formio-component-datagrid .datagrid-table>tbody>tr>td>button.formio-button-remove-row {
  position: absolute;
  /*bottom: 1.0rem;*/
  top: 1rem;
  right: 1.15rem;
  padding: 10px 25px;
  white-space: nowrap;
}
.formio-component-datagrid .datagrid-table>tbody>tr>td>button.formio-button-remove-row:after {
  content: "Remove Section";
}
/*.datagrid-table .fieldset-body {
  display: flex;
  flex-wrap: wrap;
}*/
.formio-component-datagrid .datagrid-table fieldset {
  /*flex: 0 0 100%;*/
  padding-left: 1.25rem;
  padding-right: 0.25rem;
  /*padding-bottom: 1.75rem;*/
  padding-top: 1.75rem;
}
.component-grid-custom-padding {
  padding-left: 1.25rem;
  padding-right: 0.25rem;
  padding-top: 1.75rem;
}
.custom-data-grid-add-row-float-left .formio-button-add-row{
  float: left;
}
@media (min-width: 768px) {
  .datagrid-table .fieldset-body .formio-component {
    flex: 0 0 41.67%;
  }
}
.navbar-dark.navbar-toggler {
  border-color: white;
}
.main-header {
  margin-left: 15px !important;
  display: flex;
  margin-top: 10px;
  margin-bottom: 25px;
  height: 30px;
  width: 100%;
}
a.back-link {
  color: $linkColor;
  padding-left:1.5rem;
  margin-top: 5px;
}
@media (max-width: 768px) {
  .main-header{
    height: 70px;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
.back-icon{
  display: flex;
}
.sub-container {
  margin-left: 15px;
}
.task-head {
  font-weight: bold;
  font-size: 30px;
  margin-left: 1px !important;
  //display: flex;
}
.icon-wp-forms{
  height: 30px;
}
.forms-text{
  vertical-align: bottom;
  margin-left: 10px;
  margin-bottom: 0px;
}
.task-head-icons{
  height: 30px;
  width: 30px;
}
.task-head-details {
  font-weight: bold;
  font-size: 30px;
  margin-left: 10px !important;
}
.icon-wp-forms{
  height: 30px;
}
.forms-text{
  vertical-align: middle;
  margin-left: 10px;
}
.btn-right {
  float: right;
  margin-left: auto;
}
.btn-center {
  float: right;
  margin-left: auto;
}

.btn.btn-link:focus,
.btn.btn-link.focus {
  box-shadow: none;
}
.div-center {
  align-self: center;
}
.tooltip-inner {
  color: black !important;
  background-color: white !important;
  border: 0.5px solid !important;
  text-align: left;
}

.navbar-brand {
  align-items: center;
}

.navbar-brand .img-fluid,
.navbar-brand .img-thumbnail {
  max-width: 100%;
  height: 100%;
}

select option:hover {
  box-shadow: 0 0 10px 100px #000 inset;
}
.modal-dialog {
  margin: 8.75rem auto !important;
}

#main {
  background-color: #fff;
  padding: 10px;
  box-shadow: 0 3px 3px -2px rgba(0, 0, 0, 0.2),
    0px 3px 4px 0px rgba(0, 0, 0, 0.14), 0px 1px 8px 0px rgba(0, 0, 0, 0.12);
}

#sidebar {
  background: #fff;
}

.content {
  background-color: $white;
}

#sidebar ul li.active > a,
#sidebar a[aria-expanded="true"] {
  background: #fff;
}

header nav {
  border-bottom: #fff;
}

.topheading-border-bottom {
  z-index: 2000;
  border-bottom: 2px solid #fcba19 !important;
  padding: 0 0.5rem !important;
  box-shadow: 0 3px 3px -2px rgba(0, 0, 0, 0.2),
    0px 3px 4px 0px rgba(0, 0, 0, 0.14), 0px 1px 8px 0px rgba(0, 0, 0, 0.12);
}

.rounded-circle {
  border-radius: 50% !important;
  border: 2px solid lightgrey;
  height: 40px;
  width: 40px;
}

.sort-span {
  cursor: pointer;
  border: 1px solid #0071EB;
  border-radius: 0.25rem;
  padding: 4px;
  padding-left: 6px;
  padding-top: 0px;
  border-radius: 6px;
  width: 35px;
}

.sort-span:hover {

  background-color: #0071EB;

  .fa-lg-hover {
    color: white;
  }
}

.custom-app-name {
  font-size: 30px;
  font-weight: 600;
  /*margin-left: -15px!important;*/
  color: white;
}

div[disabled] {
  pointer-events: none;
  opacity: 0.7;
}

.hide-scroll {
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}
.css-79elbk {
 // position: none;
}

p {
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 36px;
  color: $textColor;
}

h1 {
  font-size: 37.32px;
  font-weight: 700;
}

h2 {
  font-size: 31.1px;
  font-weight: 700;
}

h3 {
  font-size: 25.92px;
  font-weight: 700;
}

h4 {
  font-size: 21.6px;
  font-weight: 700;
}

.form-control,
.ui.selection.dropdown,
.ui.selection.dropdown:hover {
  border: 2px solid $componentColor;
}

.form-control:focus {
  outline: 4px solid #3b99fc;
  outline-offset: 1px;
}

.ui.selection.dropdown {
  // Bring sizing of dropdown in line with textboxes
  padding: 0.375rem 0.75rem;
  height: calc(1.6em + 0.75rem + 2px);
  line-height: 1.6;
  min-height: auto;
}

.field-required::after {
  content: "";
}

.btn-primary {
  background-color: $blue;
  font-weight: 700;
  padding: 12px 32px;
  border-radius: 4px;
  border: none;
}

.btn-primary:hover {
  text-decoration: underline;
  opacity: 0.8;
  background-color: #336699;
}
.btn-primary:active {
  opacity: 1;
  background-color: $blue !important;
  border: none;
}


.btn-primary:disabled {
  background-color: $blue !important;
  opacity: 0.3 !important;
  cursor: not-allowed !important;
  text-decoration: none !important;
  border: none !important;
}

.btn-primary:focus {
  outline: 4px solid #3B99FC !important;
  outline-offset: 1px;
  background-color: $blue;
  border: none;
}

.btn-secondary {
  color: $blue;
  background: none;
  border: 2px solid $blue;
  font-weight: 700;
  border-radius: 4px;
  padding: 10px 30px;
}

.btn-secondary:hover {
  text-decoration: underline;
  background-color: $blue !important;
  color: white !important;
  opacity: 0.8;
  border: 2px solid $blue;
}

.btn-secondary:active {
  opacity: 1;
  color: $blue !important;
  background: none !important;
  border: 2px solid $blue !important;
}

.btn-secondary:focus {
  outline: 4px solid #3B99FC !important;
  outline-offset: 1px;
  background-color: white !important;
  color: $blue !important;
  border: 2px solid $blue;
}

.btn-secondary:hover:active {
  background-color: $blue !important;
  color: white !important;
  border: 2px solid $blue;
}

.btn-secondary:disabled {
  background-color: white;
  opacity: 0.3;
  border: 2px solid $blue;
  color: $blue;
  cursor: not-allowed;
  text-decoration: none;
  border: 2px solid $blue;
}

.btn-secondary:disabled:hover {
  background-color: white !important;
  opacity: 0.3;
  border: 2px solid $blue;
  color: $blue !important;
  cursor: not-allowed;
  text-decoration: none;
  border: 2px solid $blue;
}

a {
  color: $linkColor;
}

a:hover {
  color: blue;
  text-decoration: none;
}

footer a:focus {
  color: #fff !important;
}

header a:focus {
  color: #fff !important;
}

.form-check-input {
  cursor: pointer;
}

div nav header div {
  margin: 5px 0 5px 0 !important; 
}


div nav header div a {
  cursor: pointer;
}

header span h1 {
  color: #fff;
  font-size: 27px !important;
  font-weight: 700 !important;
  align-items: center !important;
}

header span:hover {
  color: #fff;
}

.alert-info,
.alert-bc-warning {
  background-color: #F9F1C6;
  padding: 15px;
  display: flex;
  &:before {
    margin-right: 11px;
    content: url(./assets/warning.svg);
  }
;
}

.alert-info,
.alert-bc-warning > p {
  color: #6C4A00;
  margin: 0;
}

.alert-bc-error {
  background-color: #f2dede;
  padding: 15px;
  display: flex;
  &:before {
    margin-right: 11px;
    content: url(./assets/danger.svg);
  }
;
}

.alert-bc-error > p {
  color: #a12622;
  margin: 0;
}

.alert-bc-info {
  background-color: #d9eaf7;
  padding: 15px;
  display: flex;
  &:before {
    margin-right: 11px;
    content: url(./assets/info.svg);
  }
;
}

.alert-bc-info > p {
  color: #313132;
  margin: 0;
}

.alert-info.formio-hidden,
.alert-bc-error.formio-hidden,
.alert-bc-info.formio-hidden,
.alert-bc-warning.formio-hidden {
  padding: 0;
  margin: 0;
  background-color: transparent;
  &:before {
    margin-right: 11px;
    content: unset;
  }
}

// Style applies to the tooltip icon
i.fa.fa-question-circle.text-muted {
  color: $linkColor !important;
}

fieldset {
  border: 0px !important;
}

// --START--- Style to enable scrollbar on the form -----
.no-scroll {
    overflow: visible !important;
}

.scrollable-page {
    scrollbar-width: thin !important;
    overflow-y: visible !important;
    position: relative !important;
}
// --END--- Style to enable scrollbar on the form -----

// Enable proper page scrolling on the /task/:formId (formEdit) page
.service-task-details {
  max-height: none !important;
  overflow-y: hidden !important;
}

.form-group fieldset {
    width: 100%;
}
.classApplicationId{
  width: 15%;
}
.form_select{
  width: 15%;
}
.form_operation{
  width: 30%;
}
.classApplicationName{
  width: 20%;
}
.form_title{
  width: 40%;
}
.navbar-light .navbar-nav .nav-link {
  color: rgba(0,0,0,.9);
}

// overwriting default styles
.MuiTab-wrapper{
  font-size: 16px;
}
.formcomponents .formcomponent{
  font-size: 1em;
}
.button_font{
  font-size: 14px;
  font-weight: bold;
}
.delete_button{
  font-size: 25px;
  color:red;
  cursor: pointer;
}

.custom_primary_color{
  color: #0000FF;
}

.tooltiptext{
  color: #757575;
}

.select_download{
  display: flex;
  flex-direction: row;
}
.select_text{
  font-weight: bold;
}
.select_input{
  width: 15px;
  height: 15px;
}
.form_check{
  margin-bottom: 20px;
}
a{
  color: #0000FF;
}
.info-background {
  background-color: #FFDBDB;
}
.warning-background {
  background-color: #F9F1C6;
}

.formio-wizard-nav-container 
{
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
}
// .btn-wizard-nav-submit, .btn-wizard-nav-next, .btn-wizard-nav-previous{
//   margin-left:5px;
// }

div.upload {
  background-color:rgb(239,239,239);
  border: 1px solid #ddd;
  border-radius:5px;
  display:inline-block;
  height: 30px;
  padding:3px 3px 3px 3px;
  position:relative;
  width: 140px;
  text-align: center;
  
}

div.upload:hover {
  opacity:0.95;
}

div.upload input[type="file"] {
  display: input-block;
  width: 100%;
  height: 30px;
  opacity: 0;
  cursor:pointer;
  position:absolute;
  left:0;
}
.uploadButton {
  background-color: #425F9C;
  border: none;
  border-radius: 3px;
  color: #FFF;
  cursor:pointer;
  display: inline-block;
  height: 30px;
  margin-right:15px;
  width: auto;
  padding:0 20px;
  box-sizing: content-box;
}

.fileName {
  font-family: Arial;
  font-size:14px;
}

.upload + .uploadButton {
  height:38px;
}




@media print {

  .main-header {
    display: none;
  }

  ._loading_overlay_wrapper {
    padding: 0;
  }

  #formview {
    margin: 0;
  }

  #main {
    min-height: unset;
    overflow-y: visible !important;
  }

  .pg-footer {
    display: none;
  }

  .sub-container.ml-4.mr-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .form-group.formio-component {
    min-width: 100%;
  }

  button:not([type="submit"]) {
    display: none;
  }
}

//// Panel Callout

// Render Panel component as a bcgov design system styled callout when "Info" is selected as the theme
.formio-component.formio-component-panel .dgj-panel-info {
  border: none !important;
  margin-bottom: 0 !important;

  .card-header {
    display: none;  
  }
  .card-body {
    padding: 25px;
    border-left: 10px solid #38598a;
    margin: 0;
    background-color: #f2f2f2;

    h1,h2,h3,h4 {
      margin: 0;
    }
  }
}

button.floatingButton {
  position:fixed;
  z-index: 1;
  box-shadow: 0px 3px 6px #666;
}

button.floatingButton.floating-right-bottom-1 {
	bottom: 40px;
	right: 40px;
}

button.floatingButton.floating-right-bottom-2 {
	bottom: 110px;
	right: 40px;
}

button.floatingButton.floating-right-bottom-3 {
	bottom: 180px;
	right: 40px;
}

.show-in-print-only {
  display: none;
}

// Hide the submit button on the wizard form. Will allow the designer to add custom submit buttons
.btn-wizard-nav-submit {
  display: none;
}

.hideFromTaskHeader {
  display: none;
}