# Static Deploy On Openshift
# Builds and Deploys merged PR's to persistent pods/services/routes/etc in the OpenShift Dev environment.
name: Deploy on Openshift
  
on:
  # https://docs.github.com/en/free-pro-team@latest/actions/reference/events-that-trigger-workflows
  push:
    # Edit to the branch(es) you want to build and deploy on each push.
    branches: [ main ]
  workflow_dispatch:
    inputs:
      environment:
        description: 'Environment'
        required: true
        default: 'dev'
        type: choice
        options:
        - dev
        - test
        - production

jobs:
  #Print variables for logging and debugging purposes
  checkEnv:
    name: Check Env variables
    runs-on: ubuntu-latest
    steps:
      - name: Print Env Vars
        run: |
          echo Git Base Ref: ${{ github.base_ref }}
          echo Git Build ID: ${{ github.event.number }}
          echo Git Pull Request Ref: ${{ github.event.pull_request.head.sha }}
          echo OC CLI Version: $(oc version)
  
  # #Build the app

  build:
    name: Build APP
    runs-on: ubuntu-latest
    # if: ${{ github.event.pull_request.merged == true}}
    env:
      BUILD_ID: ${{ github.event.number }}
      BUILD_NAMESPACE: d89793-tools
      BRANCH: main
      BUILD_TAG: latest
      APP: forms-flow-web
      API: forms-flow-webapi
    steps:
      # Checkout the PR branch
      - name: Print env
        run: |
          echo BUILD ID: $BUILD_ID
          echo BUILD NAMESPACE: $BUILD_NAMESPACE
          echo BRANCH: $BRANCH
      - name: Checkout Target Branch
        uses: actions/checkout@v1
      # Log in to OpenShift.
      # Note: The secrets needed to log in are NOT available if the PR comes from a FORK.
      # PR's must originate from a branch off the original repo or else all openshift `oc` commands will fail.
      - name: Log in to OpenShift
        run: |
          oc login --token=${{ secrets.SA_TOKEN }} --server=https://api.silver.devops.gov.bc.ca:6443


      # Build the app images
      - name: Build App images
        working-directory: "./deployment/openshift"
        run: |
          test -n "${BRANCH}"
          test -n "${BUILD_NAMESPACE}"
          echo "BUILIDING ${APP} with tag: ${BUILD_TAG}"
                oc -n ${BUILD_NAMESPACE} process -f web_bc.yaml \
                -p SOURCE_REPOSITORY_REF=${BRANCH} \
                -p SOURCE_REPOSITORY_URL="https://github.com/bcgov/digital-journeys" \
                -p SOURCE_CONTEXT_DIR="/forms-flow-web" | oc -n ${BUILD_NAMESPACE} apply -f -
          oc -n ${BUILD_NAMESPACE} start-build bc/${APP} --no-cache --wait


       # Build the api images
      - name: Build API images
        working-directory: "./deployment/openshift"
        run: |
          test -n "${BRANCH}"
          test -n "${BUILD_NAMESPACE}"
          echo "BUILIDING ${API} with tag: ${BUILD_TAG}"
                oc -n ${BUILD_NAMESPACE} process -f webapi_bc.yaml \
                -p SOURCE_REPOSITORY_REF="" \
                -p SOURCE_REPOSITORY_URL="https://github.com/bcgov/digital-journeys" \
                -p SOURCE_CONTEXT_DIR="/forms-flow-api" | oc -n ${BUILD_NAMESPACE} apply -f -
          oc -n ${BUILD_NAMESPACE} start-build bc/${API} --no-cache --wait



   # Deploy App images in Dev
  deployDev:
    if: ${{!github.event.inputs.environment || github.event.inputs.environment == 'dev'}}
    name: Deploy APP to Dev environment
    environment: dev
    runs-on: ubuntu-latest
    env:
      BUILD_ID: ${{ github.event.number }}
      NAMESPACE: ${{ secrets.NAMESPACE }}
      BUILD_NAMESPACE: ${{ secrets.BUILD_NAMESPACE }}
      FFAWEB_URL: ${{ secrets.FFAWEB_URL }}
      BRANCH: main
      APP: forms-flow-web
      API: forms-flow-webapi
    needs:
      - build
    steps:
      - name: Print env
        run: |
          echo BUILD ID: $BUILD_ID
          echo BUILD NAMESPACE: $BUILD_NAMESPACE
          echo BRANCH: $BRANCH
          echo FFAWEB_URL: $FFAWEB_URL
      - name: Checkout Target Branch
        uses: actions/checkout@v1

       # Log in to OpenShift.
       # Note: The secrets needed to log in are NOT available if the PR comes from a FORK.
       # PR's must originate from a branch off the original repo or else all openshift `oc` commands will fail.
      - name: Log in to OpenShift
        run: |
          oc login --token=${{ secrets.SA_TOKEN }} --server=https://api.silver.devops.gov.bc.ca:6443

      - name: Deploy APP
        run: |
          test -n "${NAMESPACE}"
          test -n "${BUILD_NAMESPACE}"
          test -n "${BRANCH}"
          echo "Current namespace is ${NAMESPACE}"
          oc -n ${NAMESPACE} process -f deployment/openshift/web_dc.yaml \
                -p IMAGE_NAMESPACE=${BUILD_NAMESPACE} \
                -p TAG_NAME=latest \
                -p CPU_REQUEST=100m \
                -p CPU_LIMIT=250m \
                -p MEMORY_REQUEST=100Mi \
                -p MEMORY_LIMIT=2Gi \
                -p FFAWEB_URL="${{secrets.FFAWEB_URL}}" | \
          oc -n ${NAMESPACE} apply -f -

          # Check deployment rollout status every 10 seconds (max 10 minutes) until complete.
          ATTEMPTS=0
          ROLLOUT_STATUS_CMD="oc rollout status dc/${APP} -n ${NAMESPACE}"
          until $ROLLOUT_STATUS_CMD || [ $ATTEMPTS -eq 60 ]; do
            $ROLLOUT_STATUS_CMD
            ATTEMPTS=$((attempts + 1))
            sleep 10
          done
          oc project ${NAMESPACE}     
          echo "Listing pods.."
          oc get pods|grep "${APP}"
          export ROUTE="$(oc get route ${APP} -o jsonpath='{.spec.host}')"
          echo "${APP} is exposed at 'https://'${ROUTE}" 
  
      - name: Deploy API
        run: |
          test -n "${NAMESPACE}"
          test -n "${BUILD_NAMESPACE}"
          test -n "${BRANCH}"
          echo "Current namespace is ${NAMESPACE}"
          #oc -n ${BUILD_NAMESPACE} policy add-role-to-group system:image-puller system:serviceaccounts:${NAMESPACE}
          echo "Passed"
          oc -n ${NAMESPACE} project
          oc -n ${NAMESPACE} process -f deployment/openshift/webapi_dc.yaml \
                -p NAME=${API} \
                -p IMAGE_NAMESPACE=${BUILD_NAMESPACE} \
                -p TAG_NAME=latest \
                -p CPU_REQUEST=100m \
                -p CPU_LIMIT=250m \
                -p MEMORY_REQUEST=100Mi \
                -p MEMORY_LIMIT=2Gi | \
          oc -n ${NAMESPACE} apply -f -
          #oc rollout latest dc/"${API}" -n ${NAMESPACE} 
          # Check deployment rollout status every 10 seconds (max 10 minutes) until complete.
          ATTEMPTS=0
          ROLLOUT_STATUS_CMD="oc rollout status dc/${API} -n ${NAMESPACE}"
          until $ROLLOUT_STATUS_CMD || [ $ATTEMPTS -eq 60 ]; do
            $ROLLOUT_STATUS_CMD
            ATTEMPTS=$((attempts + 1))
            sleep 10
          done
          oc project ${NAMESPACE}     
          echo "Listing pods.."
          oc get pods|grep "${API}"
          export ROUTE="$(oc get route ${API} -o jsonpath='{.spec.host}')"
          echo "${API} is exposed at 'https://'${ROUTE}" 

   # Deploy App and Api images in Test
  deployTest:
    name: Deploy APP to Test environment
    if: ${{ github.event.inputs.environment == 'test' }}
    environment: test
    runs-on: ubuntu-latest
    env:
      BUILD_ID: ${{ github.event.number }}
      NAMESPACE: ${{ secrets.NAMESPACE }}
      BUILD_NAMESPACE: ${{ secrets.BUILD_NAMESPACE }}
      FFAWEB_URL: ${{ secrets.FFAWEB_URL }}
      BRANCH: main
      APP: forms-flow-web
      API: forms-flow-webapi
    needs:
      - build
    steps:
      - name: Print env
        run: |
          echo BUILD ID: $BUILD_ID
          echo BUILD NAMESPACE: $BUILD_NAMESPACE
          echo BRANCH: $BRANCH
          echo FFAWEB_URL: $FFAWEB_URL
      - name: Checkout Target Branch
        uses: actions/checkout@v1

       # Log in to OpenShift.
       # Note: The secrets needed to log in are NOT available if the PR comes from a FORK.
       # PR's must originate from a branch off the original repo or else all openshift `oc` commands will fail.
      - name: Log in to OpenShift
        run: |
          oc login --token=${{ secrets.SA_TOKEN }} --server=https://api.silver.devops.gov.bc.ca:6443
      - name: Deploy APP
        run: |
          test -n "${NAMESPACE}"
          test -n "${BUILD_NAMESPACE}"
          test -n "${BRANCH}"
          echo "Current namespace is ${NAMESPACE}"
          oc -n ${NAMESPACE} process -f deployment/openshift/web_dc.yaml \
                -p IMAGE_NAMESPACE=${BUILD_NAMESPACE} \
                -p TAG_NAME=latest \
                -p CPU_REQUEST=100m \
                -p CPU_LIMIT=250m \
                -p MEMORY_REQUEST=100Mi \
                -p MEMORY_LIMIT=2Gi \
                -p FFAWEB_URL="${{secrets.FFAWEB_URL}}" | \
          oc -n ${NAMESPACE} apply -f -
          #oc rollout latest dc/"${APP}" -n ${NAMESPACE}
          # Check deployment rollout status every 10 seconds (max 10 minutes) until complete.
          ATTEMPTS=0
          ROLLOUT_STATUS_CMD="oc rollout status dc/${APP} -n ${NAMESPACE}"
          until $ROLLOUT_STATUS_CMD || [ $ATTEMPTS -eq 60 ]; do
            $ROLLOUT_STATUS_CMD
            ATTEMPTS=$((attempts + 1))
            sleep 10
          done
          oc project ${NAMESPACE}     
          echo "Listing pods.."
          oc get pods|grep "${APP}"
          export ROUTE="$(oc get route ${APP} -o jsonpath='{.spec.host}')"
          echo "${APP} is exposed at 'https://'${ROUTE}" 

      - name: Deploy API
        run: |
          test -n "${NAMESPACE}"
          test -n "${BUILD_NAMESPACE}"
          test -n "${BRANCH}"
          echo "Current namespace is ${NAMESPACE}"
          #oc -n ${BUILD_NAMESPACE} policy add-role-to-group system:image-puller system:serviceaccounts:${NAMESPACE}
          echo "Passed"
          oc -n ${NAMESPACE} project
          oc -n ${NAMESPACE} process -f deployment/openshift/webapi_dc.yaml \
                -p NAME=${API} \
                -p IMAGE_NAMESPACE=${BUILD_NAMESPACE} \
                -p TAG_NAME=latest \
                -p CPU_REQUEST=100m \
                -p CPU_LIMIT=250m \
                -p MEMORY_REQUEST=100Mi \
                -p MEMORY_LIMIT=2Gi | \
          oc -n ${NAMESPACE} apply -f -
          #oc rollout latest dc/"${API}" -n ${NAMESPACE} 
          # Check deployment rollout status every 10 seconds (max 10 minutes) until complete.
          ATTEMPTS=0
          ROLLOUT_STATUS_CMD="oc rollout status dc/${API} -n ${NAMESPACE}"
          until $ROLLOUT_STATUS_CMD || [ $ATTEMPTS -eq 60 ]; do
            $ROLLOUT_STATUS_CMD
            ATTEMPTS=$((attempts + 1))
            sleep 10
          done
          oc project ${NAMESPACE}     
          echo "Listing pods.."
          oc get pods|grep "${API}"
          export ROUTE="$(oc get route ${API} -o jsonpath='{.spec.host}')"
          echo "${API} is exposed at 'https://'${ROUTE}" 

